{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Contact form
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-center">{{ title }}</h2>

            {% if confirm_messege %}
                <p>{{ confirm_messege }}</p>
            {% endif %}

            {% if form %}
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit Form" class="btn btn-default">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}


